<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{151,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,209}}</string>
                <key>sourceSize</key>
                <string>{151,209}</string>
            </dict>
            <key>bigtag_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{80,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{80,91}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>bigtag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,285},{90,93}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{90,93}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>bigtag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,424},{82,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{82,77}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>bigtag_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,119},{88,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,97}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>bigtag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,94},{93,92}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{93,92}}</string>
                <key>sourceSize</key>
                <string>{97,102}</string>
            </dict>
            <key>bigtag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{97,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{97,90}}</string>
                <key>sourceSize</key>
                <string>{97,102}</string>
            </dict>
            <key>black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,327},{46,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,413},{34,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,449},{32,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,424},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,320},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,449},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,239},{38,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,377},{34,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,413},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,341},{34,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,380},{36,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,289},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,189},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>gaoguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{132,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,115}}</string>
                <key>sourceSize</key>
                <string>{132,115}</string>
            </dict>
            <key>poker_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,209}}</string>
                <key>sourceSize</key>
                <string>{151,209}</string>
            </dict>
            <key>red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,277},{46,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,420},{34,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,478},{32,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,380},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,270},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,470},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,189},{38,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,377},{34,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,418},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,370},{34,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,218},{36,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,241},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,218},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>smalltag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,119},{31,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,164}}</string>
                <key>sourceSize</key>
                <string>{31,164}</string>
            </dict>
            <key>smalltag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,119},{31,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,164}}</string>
                <key>sourceSize</key>
                <string>{31,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{405,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb070296f609d58e2e2cbb1de66c55ac$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
